# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dll
**.dll

# Visual Studio specific files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider specific files
.idea/
.idea/*
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
  
# Office Temp Files
~$*
~*.tmp
*.tmp

# JetBrains Rider
.idea/
  
# Rider projects
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/.name
.idea/*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates